.THIS .topicLabel {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}
.THIS .topicImage4 {
    background-image: url(/resource/Topic_4);
}
.THIS .topicImage5 {
    background-image: url(/resource/Topic_5);
}
.THIS .topicImage6 {
    background-image: url(/resource/Topic_6);
}