.THIS .slds-text-heading_medium {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: left;
}

.THIS.slds-modal__header {
    border-bottom: none !important;
}

.THIS.slds-modal__footer {
    border-top: none !important;
    padding: 20px;
}

.THIS .slds-button_neutral {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    color: #006DAE;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0 !important;
    border-width: 1px;
    border-color: #006DAE;
}

.THIS .slds-file-selector__button {
    display: inline-block;
    min-width: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 0!important;
    border-width: 1px;
    background: #006dae;
    border-color: #006dae;
}

.THIS lightning-primitive-icon {
    display: none;
}

.THIS lightning-primitive-file-droppable-zone.slds-file-selector__dropzone {
    border: none;
}