.loginFrame {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.loginForm {
    background-color: white;
    display: flex;
    color: #505050;
}

.front {
    z-index: 1;
}

.recaptchaChallengeHidden {
    height: 60px;
}
.recaptchaChallengeVisible {
    height: 500px;
}

.btn:focus,
.btn--blue:focus {
  outline: 3px solid #0057b8; /* or another accessible color */
  outline-offset: 2px;
}

.btn:hover,
.btn--blue:hover {
  background-color: #004a99; /* darker hover color */
}