.THIS .badge_notification {
   border: 1px solid #d4d4d4;
   background-color: #FF7373;
   border-color: #FF7373;
   color: white;
   font-size: .75rem;
   text-transform: none;
   letter-spacing: normal;
}

.THIS .badge_red_notification {
   border: 1px solid #d4d4d4;
   background-color: #c23934;
   border-color: #ae332e;
   color: white;
   font-size: .75rem;
   text-transform: none;
   letter-spacing: normal;
}

.THIS .badge_warning_notification {
   border: 1px solid #d4d4d4;
   background-color: #bd5b0d;
   border-color: #A60000;
   color: white;
   font-size: .75rem;
   text-transform: none;
   letter-spacing: normal;
}