/** 
 * Created by rcad0001 on 17/07/2020.
 */

.button-inactive{
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    background-color: rgb(255, 255, 255);
    border-color: #006dae;
    color: #006dae;
    font-weight: 800;
}

.button-success{
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    background-color: rgb(75, 202, 129);
    border-color: rgb(75, 202, 129);
    color: #ffffff;
    font-weight: 800;
}

.button-destructive{
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    background-color: rgb(194, 57, 52);
    border-color: rgb(194, 57, 52);
    color: #ffffff;
    font-weight: 800;
}

.button-disabled{
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    color: #000000;
    font-weight: 800;
}