.badge_notification {
    border: 1px solid #d4d4d4;
    background-color: #c23934;
    border-color: #ae332e;
    color: white;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    cursor: pointer;
}

.badge_notification:hover {
    background-color: #ae332e;
}

.badge_warning {
    border: 1px solid #d4d4d4;
    background-color: #EE8F3F;
    border-color: #d68038;
    color: white;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    cursor: pointer;
}

.badge_warning:hover {
    background-color: #d68038;
}

.badge_count {
    border: 1px solid #706e6b;
    cursor: pointer;
}

.badge_count:hover {
    background-color: #d1d2d4;
}