.THIS .disable {
  pointer-events: none;
  opacity: 0.4;
}
.THIS .button-styling
{
      background-color: #006DAE;

}
.THIS.backgroundInverse {
    background-color: blue;
    padding: 12px;
}
.THIS .button-styling:hover{
   text-decoration:underline;
}

.THIS .button-group-styling {
  justify-content: center;
  max-width: 320px;
  margin: 0 auto !important;
  width: 100%;
  display: flex;
}

.THIS .button-group-styling > div {
  text-align: center;
}

.THIS .heading {
   font-weight: 300;
   font-size: 20px;
   color: #006DAE;
}

.THIS .header-styling {
	text-align:center;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.THIS .stacked-header-styling {
	background-color: #005FB2;
	color : white;
}

.THIS .section-title-styling {
  background-color: #006DAE;
  color : white;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 1rem auto 0;
  padding: 0.8rem 0;
  text-transform: uppercase;
}
.THIS .uiInputDefaultError .form-element__help {
    font-size: .75rem;
    margin-top: 0;
    color: red;
    }
.THIS .section-float {
	background-color:#fff;
	padding: 10px 10px 10px 10px;
	display: block;
	margin: auto
}

.THIS .field-spacing {
   padding-top: 5px;
   padding-bottom: 5px;
}

.THIS .whitespace:before {
	content: "\00a0 ";
}

.THIS .whitespace:after {
	content: "\00a0 ";
}


.THIS .slds-text-title.tooltip span:first-child {
  text-transform: uppercase;
  padding-left: 0.75rem
}

.THIS .tooltip {
    position: relative;
    display: inline-block;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.THIS .slds-icon-text-default
{
    fill: white;
}

.THIS input[type=text], .THIS input[type=tel], .THIS input[type=email], .THIS select {
  max-width: 400px;
  display: block;
  width: 250px;

}



.THIS .uiMessage {
  margin: 0;
}

.THIS .hideComponent {
    display: none;
}

.THIS .required {
    float: left;
    padding-right: 2px;
    color: red;
    font-weight: 700;
   }

.THIS .slds-button1
{
   word-wrap: break-word;
   width:20%;

}
.THIS.footer-wrapper-styling > div#ui-footer-text {
   text-align: left;
   font-size: 12px;
   width: 100%;
   color: #3c3c3c;
   max-width: 1140px;
}

.THIS.footer-wrapper-styling > div#ui-privacy {
   padding: 1rem 0 0 1rem;
   white-space: nowrap;
}

.THIS.footer-wrapper-styling > div#ui-group8logo {
   padding: 1rem 1rem 0 0;
   text-align: right;
   min-width: 140px;
}

@media (max-width: 767px) {
   .THIS.footer-wrapper-styling {
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .THIS.footer-wrapper-styling > div#ui-privacy {
      order: -2;
   }
   .THIS.footer-wrapper-styling > div#ui-footer-text {
      text-align: justify;
   }
   .THIS.footer-wrapper-styling > div#ui-group8logo {
      order: -1;
      padding: 0 1rem;
   }
}

.THIS.footer-wrapper-styling {
   width: 100%;
   background-color: rgb(244, 246, 249);
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   align-items: flex-start;
   padding-top: 2rem;
}

.THIS.footer-wrapper-styling > div {
   order: 1;
   padding: 1rem;
}