:host{
    --slds-c-card-margin-top: 15px;
    --slds-c-card-radius-border: 10px;
    --slds-c-card-sizing-top-border: 10px;
    --slds-c-card-shadow: 0 4px 12px 0 #00000026 !important;
    --slds-c-card-color-border: #49819a;
}
b{
    margin-left:10px;
}