.THIS .slds-input {
    border-radius: 0;
}
.THIS .captchacontainer {
    display: flex;
    align-items: center; /* Vertically centers the image and text */
    gap: 0px; /* Space between the image and text */
    max-width: 45%;
    max-height: 45%; 
    height: 50px; 
    width: 50px;
}
.THIS .captchaimage {
    margin-top: 20px; /* Adjust this value to control the space above the image */
    width: 40px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}