.health-option {
    border: 1px black solid;
    margin: 33px 0px;
    padding: 15px;

}
.health-option__slds-radio_faux {
    padding: 5px;
}
.health-option__detail {
    margin-left: 15px;
}
.health-option__slds-col {
    padding: 5px auto;
}