.THIS .fieldContainer .slds-combobox__input {
    border: 0px solid #d4d4d4 !important;
    border-radius: 0 !important;
}

.THIS .fieldContainer .slds-input_faux {
    border: 0px solid #d4d4d4 !important;
    border-radius: 0 !important;
}

.THIS .fieldContainer .slds-combobox {
    border: 0px solid #d4d4d4 !important;
    border-radius: 0 !important;
}

.THIS .fieldContainer .slds-combobox_container {
    border: 0px solid #d4d4d4 !important;
    border-radius: 0 !important;
}

.THIS .fieldContainer .slds-form-element__control {
    border: 0px solid #d4d4d4 !important;
    border-radius: 0 !important;
}