/* .THIS .header-collapsible {
	background-color: #006dae !important;
	color: #fff;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
} */

.THIS .customRequired:before{
	font-weight: 400; 
	content: "*";
	margin: 0 0.125rem 0 0.125rem;
	color: rgb(194, 57, 52);
	float: left;


}

.THIS lightning-helptext
{
	display:none;
}

.THIS .slds-form-element__label
{
	display:none;
}