.THIS input {
    width: 100% !IMPORTANT;
    margin-top: 0.5rem;
  	margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    padding: 0.5rem !IMPORTANT;
    border-style: solid !IMPORTANT;
    border-color: #AEAEAE !IMPORTANT;
    border-width: 1px !IMPORTANT;
    border-radius: 0 !IMPORTANT;
}


.THIS select {
    width: 100% !IMPORTANT;
    margin-top: 0.5rem !IMPORTANT;
    margin-bottom: 0.5rem !IMPORTANT;
    margin-right: 0.25rem !IMPORTANT;
    padding: 0.5rem !IMPORTANT;
    border-style: solid !IMPORTANT;
    border-color: #AEAEAE !IMPORTANT;
    border-width: 1px !IMPORTANT;
    border-radius: 0 !IMPORTANT;
    height:3rem !IMPORTANT;
}

.THIS .selected {
    text-decoration:underline;
}

.THIS .hover-highlight:hover { 
    background: rgba(0, 110, 173, 0.1); /* 10% of #006DAE */
}

.THIS .modal-link:hover {
    cursor: pointer;
}

.THIS .slds-button_neutral {
    border: 2px solid #006DAE;
    border-radius: 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: #006DAE;
    height: 40px;
}
.THIS .slds-button_neutral:disabled, .THIS .slds-button_neutral[disabled] {
    border: 2px solid #A0A0A0;
    color: #A0A0A0;
}

.THIS .ucin-listbutton {
    min-width: 100px;
    text-align: center;
}

@media (min-width: 640px) {
    .THIS .ucin-listbutton {
        min-width: 150px;
    }
}