.THIS .sys-error-header-coler {
    background-color: rgb(212, 80, 76);
}

.THIS .validation-error-header-coler {
    background-color: rgb(255, 183, 93);
}

.THIS .warning-error-header-coler {
    background-color: rgb(255, 183, 93);
}

.THIS .not-error-header-coler {
    background-color: rgb(75, 202, 129);
}