.spinnerHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.otp-id-verified{
    --sds-c-card-color-background: white;
}

.otp-id-unverified{
    --sds-c-card-color-background: white;
}

.green-checkmark{
    --sds-c-icon-color-foreground-default: green;
    --sds-c-icon-color-background: green;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center
}

.verification-time {
    font-weight: normal !important;
}

.channelSelectionFont {
    --lwc-fontSize3: 12px !important;
}