.THIS .label-hidden > label {
    display: none;
}

.THIS .slds-form-element__label{
    font-size: 1rem;
    font-weight: 700;
    color: #505050
}

.THIS .paddingTop{
    padding-top: 8px;
}

.THIS .paddingTop1{
    padding-top: 4px;
}

.THIS .paddingBottom{
    padding-bottom: 10px; 
}

.THIS .socialField{
    width: 71.5%;
}