.THIS .redIconStatus span svg{
    fill:rgb(218,43,43);
}

.THIS .greenIconStatus span svg{
    fill:rgb(0,193,56);
}

.THIS .blueIconStatus span svg{
    fill:rgb(23,151,192);
}

.THIS .yellowIconStatus span svg{
    fill:rgb(218,184,45);
}

.THIS .blackIconStatus span svg{
    fill:rgb(0,0,0);
}

.THIS .greyIconStatus span svg{
    fill:rgb(81,79,77);
}

.THIS .blurTheContent{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.THIS .disableMouseClick{
    pointer-events: none;
}

.THIS .floatRightWithMargin{
    float: right;
    padding-right: 5px;
}

.THIS .leftDiv{
    float: left;
    width: 50%;
}

.THIS .rightDiv{
    float: left;
    width: 50%;
}

.THIS #theHeadRow th{
    background-color: rgb(230,230,230) !important;
}

.THIS .invisible{
    display: none;
}

.THIS .blueishBackround{
    background-color: rgb(33, 187, 230) !important;
}

.THIS .imgBorder {
  padding: 15px 15px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.THIS img {
    background: transparent no-repeat scroll center center;
}

.THIS .spinner {
    margin:auto; width:140px; height:140px;
}

.THIS .previewFileDiv {
    display:none; position:fixed; top:0px; left:30%; width:40%; height:240px; z-index: 9999; text-align:center;
}

.THIS .iframeClass {
    width:100%; height:550px;
}

.THIS .scrollit {
    /*overflow:scroll;*/
    overflow-x: auto;
    width: 100%;
    display: block;
}

.THIS .scrollit tbody{
    /*overflow:scroll;*/
    width: 100%;
}