body {
    background-size: cover;    
    background-image: url("/resource/loginBackground"); /*choose image from static resource*/
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    
    background-color: rgb(30, 109, 169);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    display: block;
    padding: 0.05rem;
    font-size: 14px;
    font-family: Arial;
    height: 35px;
}

.login-button:hover {
    
    background-color: rgb(255, 255, 255);
    color: rgb(30, 109, 169);
    border: 1px solid rgb(30, 109, 169);
    text-align: center;
    width: 100%;
    display: block;
    padding: 0.05rem;
    font-size: 14px;
    font-family: Arial;
    height: 35px;
}

.login-button-disabled {
    
  background-color: rgb(193, 190, 190);
  color: rgb(130, 127, 127);
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.05rem;
  font-size: 14px;
  font-family: Arial;
  height: 35px;
}

.login-button-disabled:hover {
  
  background-color: rgb(193, 190, 190);
  color: rgb(130, 127, 127);
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.05rem;
  font-size: 14px;
  font-family: Arial;
  height: 35px;
}

.resend-button {
  
  background-color: rgb(255, 255, 255);
  color: rgb(127, 148, 165);
  border: 1px solid rgb(127, 148, 165);
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.05rem;
  font-size: 14px;
  font-family: Arial;
  height: 35px;
}

.resend-button:hover {
  
  background-color: rgb(127, 148, 165);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.05rem;
  font-size: 14px;
  font-family: Arial;
  height: 35px;
}

.main-heading {

    font-size: 16px;
    color: rgb(0, 0, 0);
}

.sub-heading {

    font-size: 14px;
    color: rgb(0, 0, 0);
}

.verification-message {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.input-icon {

    position: absolute;
    margin: 0.6rem 0.7rem;
}

.date-input-icon {

    position: absolute;
    margin: 0.1rem 0.3rem;
}

.input-element {

    padding: 0.1rem 0rem 0.1rem 2rem;
    font-size: 14px;
}

.formatted-url-link {
    --lwc-colorTextDefault: rgb(30, 109, 169) !important;
    color: rgb(30, 109, 169) !important;
}

.text-align-center {
    text-align: center;
}

.forgot-password-text {

    color: #000000;
    font-size: 14px;
    text-align: left;
}

.register-text {

    color: #000000;
    font-size: 14px;
}

.error {

    text-align: center;
    word-break: break-word;
    max-width: 20rem;
    color: #bd1c1c;
}

.slds-grid_vertical .slds-col {

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.tooltip {
    position: relative;   
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    max-width: 250px;
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    position: absolute;
    z-index: 1;    
    margin-left: 0.5rem;
    bottom: 0;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    margin-left: -6px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    transform: rotate(90deg);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


  .tooltipEmail:hover ~ .usernameColumn .tooltip .tooltiptext {

    visibility: visible;
    opacity: 1;
  }

  .tooltipError {

    background-color: red !important;
    border: 1px solid white;
  }

  .tooltip .tooltipError::after {

    border-color: white transparent transparent transparent !important;
  }

  .tooltipShow {

    display: block;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .tooltipHide {

    display: none;
  }


.terms-and-conditions-link {

    color: white;
    text-decoration: underline;
}

.radio-group-white-box {
  background-color: white;
  border: 1px solid #ccc; 
}

.radio-container {
  display: flex;
}

.radio-column {
  padding: 5px;
}

.radio-left-column {
  flex: 0.07;
}

.radio-middle-column {
  flex: 9; 
}

.radio-right-column {
  flex: 0.07;
}