.THIS {
    background-color: t(colorBrand);
    color: t(colorTextDefault);
}

.THIS a {
    color: t(colorTextLink);
}

/*
.THIS a:hover { 
    color: rgb(128, 0, 0);
    text-decoration: none;
}
*/
.THIS .social-media-image {
    width: 32px;
}