.notification-container {
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notification {
    padding: 0.25rem 2rem;
    text-align: center;
    /*background-color: var(--slds-color-warning-70, #FE9339);*/
    border-radius: 0.25rem;
    font-size: 1rem;
    width: max-content;
}

.quiz-attempts {
    margin: 0.5rem 1.25rem;
    position: relative;
    min-height: 50px;
}

.attempts-table-container {
    width: 460px;
    margin: 0 auto;
}