.THIS ol li {
    padding: 5px 0px;
    padding-left:1em;
}

.THIS .section-float {
	background-color: #fff;
	padding: 10px;
}

.THIS .disabled {
  	cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
	background-color: #E6E6E6;
}

.THIS .primaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #006DAE;
    border: 1px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: bolder;
    padding: 6px 10px 6px 10px;
}

.THIS .secondaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #006DAE;
    opacity: 1;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.THIS .blueFill svg{
    fill:#006dae;
}

.THIS .primaryIcon svg{
    fill:white;
}