.THIS .ucin-listing-body ul {
    list-style: disc !important;
    margin-left: 30px;
}
.THIS .ucin-button {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}
.THIS .ucin-button:focus {
    color: #006DAE;
    text-decoration: underline;
}

.THIS span > a {
    color : rgb(0, 109, 204);
    text-decoration: underline;
}
.THIS .ucin-button:focus {
    color: #006DAE;
    text-decoration: underline;
}

@media (min-width: 40em) and (max-width: 60em) {      
    .THIS p {
        font-size: 1rem;
        line-height: 1.25;
    }
}