.THIS .slds-spinner_container {
    z-index: 10000;
    position: center;
}

.THIS .header-label2{
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 5px;
}

.THIS .header-label{
    margin-left: 10px;
    color: white;
    font-size: 2.3rem;
    font-weight: bold;
    vertical-align: middle;
}

.THIS .modalHeader{
    background-color: #E60000;
    text-align: left;
    border-bottom: 0
}

.THIS .modalHeader p{
    color: white;
    font-size: .80rem;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.THIS .modalBody{
    background-color: #E60000;
    padding-top: 1px;
    padding-bottom: 2px;
}

.THIS .modalFooter{
    background-color: #E60000;
    border-top: 0
}

.THIS .modalHeader-encumbrance{
    background-color: #ffa500;
    text-align: left;
    border-bottom: 0
}

.THIS .modalBody-encumbrance{
    background-color: white;
    padding-top: 1px;
    padding-bottom: 2px;
}

.THIS .modalFooter-encumbrance{
    background-color: white;
    border-top: 0
}

.THIS .modalHeader-encumbrance svg{
    fill:black
}

.THIS .form-inline{
    float: right;
    text-align: right;
    display: flex;
    /*align-items: center;*/
}

.THIS .form-inline button{
    color: white;
    cursor: pointer;
    margin: 10px;
}

.THIS .form-inline label{
    color: white;
    margin-top: 15px;
    margin-left: 5px;
}

.THIS .form-inline input{
    margin-top: 17px;
}


.THIS .enc-form-inline{
    float: right;
    text-align: right;
    display: flex;
    /*align-items: center;*/
}

.THIS .enc-form-inline button{
    color: white;
    cursor: pointer;
    margin: 10px;
}

.THIS .enc-form-inline label{
    color: black;
    margin-top: 15px;
    margin-left: 5px;
}

.THIS .enc-form-inline input{
    margin-top: 17px;
    border-color: black;
}

.THIS .slds-modal__content p{
    margin-bottom: 10px;
    color: white;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.THIS .slds-modal__content table{
    border-collapse: collapse;
    width: 100%;
}

.THIS .slds-modal__content th{
    font-size: 1rem;
    color: black;
    padding: 8px;
    padding-top: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.THIS .slds-modal__content td{
    color: black;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.THIS .things-to-know section{
    background-color: black;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px;
 }

.THIS .things-to-know table{
    border-collapse: collapse;
    width: 100%;
}

.THIS .things-to-know td{
    color: black;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.THIS .encumbrances section{
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: #ffa500;
    font-weight: bold;
    padding: 3px;
}

.THIS .encumbrances table{
    border-collapse: collapse;
    width: 100%;
}

.THIS .encumbrances tr{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
   	margin-bottom: 5px;
    margin-top: 10px;
}

.THIS .encumbrances td{
    color: black;
    padding-right: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}