.THIS .ucin-nav {
    position: absolute; 
    z-index: 9000;
    opacity: 0.95;
    width: 250px;
}

.THIS .ucin-mydetailnav {
    position: absolute; 
    z-index: 9000;
    opacity: 0.95;
    width: 223px;
    margin-top: 1px;
}

.THIS .ucin-mydetailctn {
    width: 220px;
}

.THIS .ucin-nav ul {
    min-width: 200px;
}

.THIS .ucin-hm-on {
    margin-left: 15rem;
}

.THIS a:focus {
    color: #fff;
}

.THIS a:hover:focus {
    color: #000;
}

.THIS .toggle-collapsed::after {
    content: " ►";
    float: right;
}
.THIS .toggle-expanded::after {
    content: " ▼";
    float: right;
}

.THIS .selected-tab-black {
    color: #000 !important; 
}