.THIS .ucin-button {
    min-width: 150px;
    text-align: center;
}
.THIS .ucin-carousel {
    
}
.THIS .ucin-carousel .slds-carousel__panel-action {
    border: none !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
.THIS .ucin-carousel .slds-carousel__image {
    border-radius: unset !important;
}
.THIS span > a {
    color : rgb(0, 109, 204);
    text-decoration: underline;
}

.THIS .no-image-spacer {
    min-height: 4.25rem;
}

.THIS .bg-blue-transparent {
    background-color: rgba(0,109,174,0.9);
}