.THIS .ascend-portal-listing-item-small {
    min-width: 450px !important;
	min-height: 250px !important;
    max-width: 450px !important;
	max-height: 250px !important;    
    overflow: auto !important;
    margin-bottom: 10px;
}

.THIS .ascend-portal-listing-item-medium {
    min-width: 900px !important;
	min-height: 500px !important;
    max-width: 900px !important;
	max-height: 500px !important;    
    overflow: auto !important;
    margin-bottom: 10px;
}

.THIS .ascend-portal-listing-item-large {
    margin-bottom: 10px;
}