.THIS .no-border-radius {
    border-radius:0 !IMPORTANT;
}

.THIS .slds-modal__header {
    border-radius: 0 !important;
}

.THIS .slds-modal__content {
    border-radius: 0 !important;
}

.THIS .slds-modal__content:last-child {
    border-radius: 0 !important;
}

.THIS .slds-modal__container {
    border-radius: 0 !important;
}

.THIS .ucin-button {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.THIS a {
    color: #006DCC;
}

.THIS a:hover {
    color: #006DCC;
}

.THIS a:focus {
    color: #006DCC;
}