/* To arrange form label horizontally and align it with helptext */
.label-align {
  display: flex;
  align-items: center; 
  gap: 0.3rem;
}

/* To align helptext icon and adjust the position of the border */
.helptext-align {
    margin-bottom: -5px;
    display: inline-block;
    transform: translateY(-0.4em);
}