.redRow  {

  foreground-color:red;
  color:red;
  background-color:#9e5656;;
 
}
.blackRow
{
  foreground-color:#9e5656;
  color:black;
  background-color:green;

 
}
.homeAction {
width: 375px; 
height: 40px; 
font-size: 16px;
}

.primaryButton1 {
  font-family: "Roboto";
  font-size: 18px;
  background: #006DAE;
  border: 1px solid #006DAE;
  opacity: 1;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-weight: bolder;
  padding: 6px 10px 6px 10px;
  width:200px !important;
  padding-bottom:10px !important
}



.useBefore::before{
  content: url(/resource/1579063961000/CommunityMyAppAssets/images/draggable-icon.svg);
  position: absolute;
  width: 100%;
  margin-left: -12px;
  margin-top:2px;
}
.THIS .table{
  overflow:hidden !important;
}
.table .td {
  padding-right: 0.8rem !important;
  padding-bottom: 0.875rem!important;
  padding-left: 0.9rem !important;
  padding-top: 0.8rem !important;
}

.THIS .slds-button__icon {
  fill:red !important;
}