.THIS .declarationForm .slds-form-element__label {
    font-size: 20px !important;
    color: rgb(51, 51, 51) !important;
    font-family: Roboto !important;
}

.THIS h1 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 0px !important;
}

.THIS h2 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .fieldContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    display: flex;
}

.THIS .fieldContainer .slds-select {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.THIS .fieldContainer .uiInputText {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.THIS .fieldContainer .slds-input {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.THIS .fieldTitle {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .generalText {
    text-align: left;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.THIS .generalHelpText {
    text-align: left;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.THIS .requiredField{
    font-family: "Roboto Condensed";
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #016CAC;
    opacity: 1;
}

.THIS .sectionContainer {
    border: 2px solid #d4d4d4;
    padding: 0 15px 25px 0;
    opacity: 1;
    display: flex;
    margin-bottom: 20px;
}

.THIS .sectionContainer .sectionContainerTopBorder {
    border-top: 5px solid #016CAC;
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: 25px;
}

.THIS .sectionContainer .sectionContainerBody {
    padding-left: 15px;
}

.THIS p {
    text-align: left;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 15px;
}

.THIS .grtParagraph {
    text-align: left;
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 10px;
    padding-left: 2px;
}

.THIS .primaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #006DAE;
    border: 1px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: bolder;
    padding: 6px 10px 6px 10px;
}

.THIS .secondaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #006DAE;
    opacity: 1;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.THIS .table
{
    position:initial !important;
}
/*
.THIS lightning-icon.primaryIcon > lightning-primitive-icon > svg > use {
    fill: #FFFFFF; 
}

.THIS lightning-icon.secondaryIcon > lightning-primitive-icon > svg > use {
    fill: #006DAE;
}*/

.THIS .secondaryIcon svg{
    fill:#006dae;
}

.THIS .primaryIcon svg{
    fill:white;
}

.THIS label.slds-form-element__label {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .slds-checkbox_toggle .slds-form-element__label {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .slds-form-element .slds-form-element__legend {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .searchboxinput input {
    box-sizing: inherit !important;
}

.THIS ol li {
    padding: 5px 0px;
    padding-left:1em;
}

.THIS .section-float {
    background-color: #fff;
    padding: 10px;
}

.THIS .disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #E6E6E6;
}


.THIS .blueFill svg{
    fill:#006dae;
}

/* 
  Wrapper for tooltip and button.
*/
.THIS .custom-tooltip-wrapper {
    position: relative;
    display: inline-block;
}

/* 
  Tooltip styling.
  Initially hidden (visibility: hidden; opacity: 0), absolutely positioned below the button.
*/
.THIS .custom-tooltip {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 280px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #006DAE;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
    padding: 10px 18px;
    position: absolute;
    left: 0;
    top: 45px;
    z-index: 100;
    text-align: center;
    transition: opacity 0.4s;
}

/*
  Tooltip hover effect applies only on desktop screens (width >= 1024px).
  On hover, tooltip becomes visible and opaque.
  1024px is used as a breakpoint to exclude tablets and phones.
*/

@media (min-width: 1024px) {
  .THIS .custom-tooltip-wrapper:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
  }
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px)  {
    .THIS .desktop-hidden {
        display: block;
    }

    .THIS .mobile-hidden {
        display: none;
    }

    .THIS .applicationForm {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .THIS .applicationStepsContainer {
        width: 100%;
        flex: 1;
    }
}
/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px)  {
    .THIS .desktop-hidden {
        display: block;
    }

    .THIS .mobile-hidden {
        display: none;
    }

    .THIS .applicationForm {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .THIS .applicationStepsContainer {
        width: 100%;
        flex: 1;
    }
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px)  {
    .THIS .desktop-hidden {
        display: block;
    }

    .THIS .mobile-hidden {
        display: none;
    }

    .THIS .applicationForm {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .THIS .applicationStepsContainer {
        width: 100%;
        flex: 1;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px)  {
    .THIS .desktop-hidden {
        display: block;
    }

    .THIS .mobile-hidden {
        display: none;
    }

    .THIS .applicationForm {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .THIS .applicationStepsContainer {
        width: 100%;
        flex: 1;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:960px)  {
    .THIS .desktop-hidden {
        display: none;
    }

    .THIS .mobile-hidden {
        display: block;
    }

    .THIS .applicationForm {
        width: 100%;
        padding: 30px;
        overflow-y: auto;
        height: auto;
        scroll-behavior: smooth;
    }

    .THIS .applicationStepsContainer {
        width: 465px;
        flex: .365;
    }
}
/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {
    .THIS .desktop-hidden {
        display: none;
    }

    .THIS .mobile-hidden {
        display: block;
    }

    .THIS .applicationForm {
        width: 100%;
        padding: 30px;
        overflow-y: auto;
        height: auto;
        scroll-behavior: smooth;
    }

    .THIS .applicationStepsContainer {
        width: 465px;
        flex: .365;
    }
}
/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {
    .THIS .desktop-hidden {
        display: none;
    }

    .THIS .mobile-hidden {
        display: block;
    }

    .THIS .applicationForm {
        width: 100%;
        padding: 30px;
        overflow-y: auto;
        height: auto;
        scroll-behavior: smooth;
    }

    .THIS .applicationStepsContainer {
        width: 465px;
        flex: .365;
    }

    .THIS .slds-icon_medium {
        fill:#006dae;
    }

    .THIS .secondaryIcon > lightning-primitive-icon > svg >slds-icon-text-default{
        fill: green;
    }
}