.slds-form-element__label{
    font-weight: bold;
    margin-left: 9px;
}

.slds-form-element_compound{
    padding-top: 35px;
}

.date-input{
    margin-top: -13px;
}

.center-text{
    padding-left: 15px;
    margin-top: -4px;
    color: #949292;
    width: 135px;
    border: 1px solid #949292;
    border-radius: 5px;
}

.center-checkbox{
    padding-left: 15px;
    margin-top: -4px;
    color: #949292;
    width: 135px;
}

.slds-form-element_horizontal{
    margin-top: 20px;
    padding: 0;
}
.nav-btn{
    margin-top: 100px;
    position: absolute;
    right: -26px;
    width: 1000px;
}
.show-div{
    display: block;
}
.hide-div{
    display: none;
}

.acpTable .slds-table, .slds-table_header-fixed {
    height: 300px!important;
}
.slds-table td, .slds-table th{
    padding-top:10px !important;
    padding-bottom:10px !important;
}