/**/
/* pad */
/**/
@media screen and (max-width: 980px) {
	
}

/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	.pcss3t > label {
		display: block;
	}
	.pcss3t > .right {
		float: none;
	}

	.firstBlock {
		border-bottom: 1px solid #B9B9B9;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
}

.btn:focus,
.btn--blue:focus {
  outline: 3px solid #0057b8; /* or another accessible color */
  outline-offset: 2px;
}

.btn:hover,
.btn--blue:hover {
  background-color: #004a99; /* darker hover color */
}