.acpContainer {	
	box-sizing: border-box;
	min-height: 100px;
	width: 100%;
	border: 1px solid #979797;
	background-color: #EDEDED;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	height: auto;
}

.acpAdditionalDetails {
	overflow: hidden;
	transition: max-height 1s;
	height: auto;
	max-height: 400px;
}


.acpAdditionalDetailsClosed {
	max-height: 0;
}

.acpIcon {
	width: 100%;
	height: 100%;
}

.draftAcpNumber {
	color: #fff;
	padding-top: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 30%;
	height: auto;
}

.draftAcpNumberMobile {
	color: #fff;
	padding-left: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 100%;
	height: 30px;
}

.draftAcpStatus {
	font-size: 15px;
}

.successAcpNumber {
	color: #fff;
	padding-top: 10px;
	font-size: 22px;
	background-color: #33A151;
	width: 30%;
	height: auto;
}

.successAcpNumberMobile {
	color: #fff;
	padding-left: 10px;
	font-size: 22px;
	background-color: #33A151;
	width: 100%;
	height: 30px;
}

.successAcpStatus {
	font-size: 15px;
}

.inProgressAcpNumber {
	color: #fff;
	padding-top: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 30%;
	height: auto;
}

.inProgressAcpNumberMobile {
	color: #fff;
	padding-left: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 100%;
	height: 30px;
}

.inProgressAcpStatus {
	font-size: 15px;
}

.errorAcpNumber {
	color: #fff;
	padding-top: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 30%;
	height: auto;
}

.errorAcpNumberMobile {
	color: #fff;
	padding-left: 10px;
	font-size: 22px;
	background-color: #BCBCBC;
	width: 100%;
	height: 30px;
}

.errorAcpStatus {
	font-size: 15px;
}

.applicationChevronIconUp {
	box-sizing: border-box;
	height: 10px;
	width: 18px;
	transform: rotate(180deg);
	margin-left: 6px;
}

.applicationChevronIconDown {
	box-sizing: border-box;
	height: 10px;
	width: 18px;
	transform: rotate(360deg);
	margin-left: 6px;
}

.respondAction {
	width: 150px; 
	height: 30px; 
	font-size: 15px;
}