.verifiedIcon {
    --sds-c-icon-color-foreground-default: #006DAE !important;
    --sds-c-icon-color-background: transparent;
}

.primaryButton:hover {
    background-color: #1C577F;
}

.mfaDesc {
    font-family: var(--lwc-fontFamily,Roboto Condensed);
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.fieldContainer {
    padding-left: 1.5rem;
}

.fieldTitle{
    font-size : 1.125rem;
    font-weight: bold; 
}