.fieldTitleRes{
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
}

.THIS .requiredField{
    font-family: "Roboto Condensed";
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
}

.paragraph{
    font-size:20px;
    font-family:Roboto;
    color: #333333;
}