.slds-visual-picker_vertical .slds-visual-picker__figure,
.slds-visual-picker_vertical .slds-visual-picker__body{
    width: auto;
}

.slds-visual-picker_vertical{
    width: 100%;
}

.slds-icon-text-check {
    margin-top: 2px;
}