h6 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin-top: 15px;
    margin-bottom: 10px;
}

p {
    text-align: left;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 15px;
}

.sidebarHeader {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
    color:black;
    text-transform: uppercase;
    opacity: 1;
}

.sidebarStepsHeader {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 38px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin-bottom: 5px;
}

.sidebarSteps {
    border-left: 1px dashed #979797;
    margin-left: 15px;
}

.contactUsButton {
    border: 2px solid #016CAC;
    opacity: 1;
    text-decoration: none;
    font-style:Roboto Condensed Bold;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
   
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width:320px)  {  
    .backgroundContainer {
        height: 900px;
        min-height: 800px;
        /*max-height: 0;*/
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10px;
        transition: max-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;

        /*display: none;*/
    }
    
    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        /*display: none;*/
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /*display: none;*/
    }
}
/* smartphones, Android phones, landscape iPhone */
@media only screen and (min-width:480px)  {     
    .backgroundContainer {
        height: 900px;
        min-height: 800px;
        /*max-height: 0;*/
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10px;
        transition: max-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;
        /*display: none;*/
    }
    
    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        /*display: none;*/
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /*display: none;*/
    }
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media only screen and (min-width:600px)  {  
    .backgroundContainer {
        height: 900px;
        min-height: 800px;
        /*max-height: 0;*/
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10px;
        transition: max-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;

        /*display: none;*/
    }

    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        /*display: none;*/
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: auto;
        margin-bottom: 30px;
        margin-right: auto;
        /*display: none;*/
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:801px)  {  
    .backgroundContainer {
        height: 900px;
        min-height: 800px;
        /*max-height: 0;*/
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10px;
        transition: max-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;

        /*display: none;*/
    }

    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        /*display: none;*/
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /*display: none;*/
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media only screen and (min-width:960px)  {  
    .backgroundContainer {
          height: 900px;
        background-position: left top; 
        min-height: 800px; 
        margin-left: -30%;
        transition: min-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-top: 20px;
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
}
/* big landscape tablets, laptops, and desktops */
@media only screen and (min-width:1025px) {  
    .backgroundContainer {
        background-position: left top; 
        min-height: 800px; 
        height: 900px;
        margin-left: -30%;
        transition: min-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-top: 20px;
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
}
/* hi-res laptops and desktops */
@media only screen and (min-width:1281px) {  
    .backgroundContainer {
        background-position: left top; 
        min-height: 800px; 
        height: 900px;
        margin-left: -30%;
        transition: min-height 0.2s ease-out;
    }

    .sidebarHeaderContainer{
        width: 340px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .sidebarStepsContainer{
        width: 340px;
        height: 330px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 15px 20px 15px 20px;
        margin-top: 20px;
    }

    .sidebarSupportContainer {
        width: 340px;
        height: 200px;
        float: right;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
        padding: 10px 15px 10px 15px;
        margin-top: 30px;
        margin-bottom: 30px;

    }
}
.applicationChevronIconUp {
	box-sizing: border-box;
	height: 8px;
	width: 10px;
	transform: rotate(180deg);
	margin-left: 5px;
}
.applicationChevronIconDown {
	box-sizing: border-box;
	height: 8px;
	width: 10px;
	transform: rotate(360deg);
	margin-left: 5px;
}
.acpAdditionalDetails {
	overflow: hidden;
	transition: max-height 1s;
	height: auto;
	max-height: 400px;
}
.acpAdditionalDetailsClosed {
	max-height: 0;
}