h2 {
    font-size: 1.3em;
}
.table-container {

}
.error-message {
    white-space: pre;
    border: solid 1px;
    border-radius: 4px;
    padding: 4px;
    overflow: scroll;
    height: 400px;
}

.modal-body {
    text-align: center;
}

.slds-modal__container {
    width: 55%;
}