.offerwizard-footer{
    bottom: 15%;
    position: absolute;
    width: 100%;
    right: 0%;
    height: 60px;
}
.acplist{
    position: absolute;
    top: auto;
    bottom: auto;
    width: 93%;
    height: 300px !important;
}
.acpTable .slds-table, .slds-table_header-fixed {
    height: 300px!important;
}
.slds-table td, .slds-table th{
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.button_success .slds-button_icon-border-filled, .button_success .slds-button--icon-border-filled{
    background-color: #50a050!important;
    color: #fff!important;
}
.agreedstartdate{
    color: var(--lwc-colorBackgroundToastSuccess,rgb(4, 132, 75));
}

h2{
    padding: 12px 16px;
    font-size: 15px;
    font-weight: bold;
}
.slds-gutters{
    margin-left: 3px;
}