.slds-modal__header{
    text-align: left;
    border-bottom: 2px solid #000;
}

.slds-text-heading_medium{
    font-weight: bold;
}
.slds-p-around_medium{
    padding: 35px;
}

.slds-modal__footer{
    border: none;
    text-align: left;
    padding-bottom: 30px;
}

.agree-button{
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 50%;
    text-align: center;
    display: initial;
    border-radius: 0;
    font-weight: 300;
    margin-left: 20px;
}

a{
    margin-left: 43px;
    text-decoration: underline;
    color: #000;
    font-weight: 400;
}

.slds-modal__close{
    margin-top: 49px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    padding-right: 32px;
}
img{
    width: 4%;
    margin-right: 8px;
    margin-bottom: 4px;
}
.agree-button:focus, 
.agree-button:active {
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 500px) {
    .slds-text-heading_medium{
        font-size: 17px;
    }
    img{
        width: 6%;
    }
    .slds-modal__close{
        margin-top: 43px;
        padding-right: 18px;
    }
}