.THIS .headlineTitle{
    font-family: "Century Schoolbook", "Georgia", "Times New Roman";
    font-size: 2.625rem;
    color: #006DAE;
    text-transform: none;
    text-align: center;
    font-weight:normal !important;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 320px) and (max-width : 479px) {
    .THIS .headlineTitle {
        font-size: 1.5rem !important;
        font-family: "Century Schoolbook", "Georgia", "Times New Roman";
    }
}