/**
 * Created by smen0015 on 21/07/2018.
 */

   .THIS.c-container {


   }

.THIS .slds-scope .slds-p-top_medium,
.THIS .slds-scope .slds-p-top--medium {
    padding-top: 0;
}

   .THIS .page-header,
   .THIS .page-footer {

       margin:  20px 20px 20px 100px;
   }
   .THIS .page-main {

   }
   .THIS .page-left,
   .THIS .page-right {

   }
   .THIS .slds-file-selector__text{
      text:'hello';

      }

      /* from here*/



.THIS .slds-scope .slds-page-header {
  padding: 40px 20px;
  background: #f0f0f0;
}

.THIS .slds-page-header {
  max-width: 100%;
}

.THIS .slds-page-header .slds-grid{
  max-width: 960px;
  margin: auto;
}

.THIS .slds-page-header   {
  margin-top: -140px;
}

.THIS  .section-title-styling {
  font-size: 20px;
  font-weight: 300;
  padding: 40px;
  margin-top: 40px;
}



.THIS .slds-scope .slds-tabs_scoped__content .slds-scope .slds-tabs--scoped__content {
  padding: 20px;
}

.THIS .slds-scope .slds-tabs_scoped__nav .slds-scope .slds-tabs--scoped__nav {
  border-radius: 0;
  border: 0;
}

.THIS .slds-scope .slds-tabs_scoped .slds-scope .slds-tabs--scoped {
  max-width: 960px;
  margin: auto;
}

.THIS .slds-scope .slds-tabs_scoped__link .slds-scope .slds-tabs--scoped__link {
  border: 0;
  border-radius: 0 !important;
  color: #fff;
  text-decoration: none;
}

.THIS .slds-scope .slds-tabs_scoped__link:focus .slds-scope .slds-tabs--scoped__link:focus {
  text-decoration: none;
}

.THIS .slds-scope .slds-tabs_scoped__link:hover .slds-scope .slds-tabs--scoped__link:hover {
  color: #fff;
  background: #005e96;
}

.THIS .slds-scope .slds-active .slds-tabs_scoped__link:hover .slds-scope .slds-active .slds-tabs--scoped__link:hover {
  color: #006dae;
  background: #fff;
}

.THIS  .iconColor svg {
  fill: #fff !important;
}

.THIS .slds-active .iconColor svg {
  fill: #006dae !important;
}

.THIS .slds-scope .slds-active .slds-tabs_scoped__link .slds-scope .slds-active .slds-tabs--scoped__link .slds-scope .slds-is-active .slds-tabs_scoped__link .slds-scope .slds-is-active .slds-tabs--scoped__link {
  border-radius: 0 !important;
}

.THIS  .iconColor {
  background-color: transparent !important;
}

.THIS .slds-scope .slds-tabs_scoped__nav .slds-scope .slds-tabs--scoped__nav {
  background: #006dae;
  display: flex;
}

.THIS .slds-scope .slds-tabs_scoped__nav li .slds-scope .slds-tabs--scoped__nav li {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 0;
}

.THIS .slds-scope .slds-tabs_scoped__nav li a .slds-scope .slds-tabs--scoped__nav li a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  height: auto;
}

.THIS .slds-scope .slds-tabs_scoped__content .slds-scope .slds-tabs--scoped__content {
  border: 0;
}



.THIS :focus {
  outline: none;
}

.THIS select {
  width: 100%;
  max-width: 100%;
  height: 52px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  font-weight: 300;
}

.THIS  select:focus {
  border-color: #006dae;
}

.THIS  input[type="text"] {
  width: 100%;
  max-width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  margin: 0 !important;
  border: 1px solid #ccc;
  font-family: sans-serif;
  font-weight: 300;
}

.THIS  input[type="text"]:focus {
  border-color: #006dae;
}

.THIS .slds-scope .slds-grid_align-center {
  justify-content: flex-start;
  margin: 0;
}

.THIS .slds-scope .slds-grid_align-center .slds-col {
  width: 50%;
  margin: 0 !important;
}

.THIS .slds-scope .slds-grid_align-center > .slds-col > .slds-form-element__control > span {
  display: block;
  padding: 20px;
  font-size: 16px !important;
  font-weight: 300 !important;
  margin: 10px auto;
  background: #efefef;
}

.THIS .slds-scope .slds-grid_align-center > .slds-col > .slds-form-element__control > span input {
  margin-right: 10px;
}

.THIS .slds-scope .slds-form-element__label {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 6px;
}





.THIS  .button-group-styling {
  width: 100%;
  flex-grow: 1;
  max-width: 100%;
  justify-content: flex-end;
}

.THIS  .button-group-styling .slds-col {
  flex: 0 0 auto;
}

.THIS .slds-scope .slds-button_brand .slds-scope .slds-button--brand {
  font-size: 16px;
  font-weight: 300;
  margin-left: 20px;
  border-radius: 0 !important;
  padding: 10px 40px;
}




.THIS .footer-wrapper-styling {
  padding: 40px !important;
  background: #fff !important;
}

.THIS .footer-wrapper-styling {
  max-width: 100%;
  margin-top: 60px;
}

.THIS .footer-wrapper-styling > div#ui-footer-text {
  font-size: 11px !important;
}


/*.cStdRegPricing .invoicing input[type=text]{
  width: 400px !important; 
}*/



@media (max-width: 720px) {
  .THIS .slds-page-header + center {
    margin-top: 0;
  }

  .THIS .slds-scope .slds-tabs_scoped__nav slds-scope .slds-tabs--scoped__nav {
    flex-direction: column;
  }

  .THIS .slds-scope .slds-tabs_scoped__nav li .slds-scope .slds-tabs--scoped__nav li {
    width: 100%;
    text-align: left;
  }

  .THIS .slds-scope .slds-tabs_scoped__nav li a .slds-scope .slds-tabs--scoped__nav li a {
    padding: 10px 20px;
  }

  .THIS .slds-scope .slds-grid_align-center .slds-col {
    width: 100%;
  }

  .THIS .footer-wrapper-styling {
    flex-direction: column;
    padding: 20px !important;
  }

  .THIS .c-container.slds-align_absolute-center .slds-grid {
    flex-direction: column;
  }

  .THIS .slds-scope .slds-size_8-of-12 .slds-scope .slds-size--8-of-12 {
    width: 100%;
  }

  .THIS .slds-scope .slds-p-around_small .slds-scope .slds-p-around--small {
    padding: 0;
    margin: 20px 0;
  }

  .THIS  .page-section {
    padding: 0;
  }

  .THIS .slds-p-top_medium.cFileUpload br {
    display: none;
  }

  .THIS .slds-scope .slds-button_brand .slds-scope .slds-button--brand {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .THIS  .button-group-styling .slds-col {
    flex: 1 1 auto;
  }

  .THIS  .button-group-styling {
    flex-direction: column;
  }

  .THIS .slds-radio .slds-form-element__label {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 6px;
  }
  }