.THIS.slds-card .slds-card__header {
  padding: 10px 15px;
  color: white;
}

.THIS.slds-card.pronouns-alert {
  background-color: #FFEB3B;
  border-color: transparent;
}

.THIS.slds-card.pronouns-alert .slds-card__header {
  background-color: #FDD835;
  color: black;
}

.THIS.slds-card.important-notes {
  background-color: #d32f2f;
  border-color: transparent;
  color: white;
}

.THIS.slds-card.important-notes .slds-card__header {
  background-color: #b71c1c;
}

.THIS.slds-card.things-to-know .slds-card__header {
  background-color: #f3f2f2;
}

.THIS.slds-card.encumbrances .slds-card__header {
  background-color: #ff6f00;
}

.THIS .break-all {
  word-break: break-all;
}