.THIS .circular {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
}

.THIS .circular img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.THIS .circular-small {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
}

.THIS .circular-small img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.THIS .circular-med {
    display: inline-block;
    position: relative;
    width: 135px;
    height: 135px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: contain;
}

.THIS .circular-med img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}