.largeText {
    font-size: 20px; 
    padding-left: 1rem !important; 
}

.addButton{
    padding-right: 10%;
    padding-left: 12%; 
    padding-bottom: 2%;
    padding-top: 2%;
    background:#84D5CF;
    justify-content: flex-start;
}