lightning-formatted-text.readonly {
    --slds-c-input-spacing-horizontal-start: 0;
    --slds-c-input-color-border: transparent;
    --slds-c-input-color-background: transparent;
    font-size: var(--slds-inputStaticFontSize,0.8125rem);
    font-weight: var(--slds-inputReadonlyFontWeight,400);
}
lightning-radio-group, lightning-checkbox-group {
    /* make label look like a regular input's label */
    --lwc-fontWeightBold: normal;
}