.THIS .job-block:hover {
    cursor: pointer;
}


.THIS .job-block {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #d4d4d4
}

.THIS .job-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: normal;        /* fallback */
    max-height: 28 !important;       /* fallback */
}

.THIS .job-detail {
    padding: 15px; 
    height: 100%
}

.THIS .job-detail-content {
    background-color: white;
    margin-right: 2px;
    padding: 15px; 
    /*max-height: 700px;*/
}

.THIS .job-detail-top {
    padding: 15px; 
    padding-bottom: 20px;
    background-color: white;
    margin-right: 2px;
    margin-bottom: 1px;
}

.THIS .job-search {
    background-color: white;
    height: 100px;
    padding-bottom: 10px;
}

.THIS .search-bar-item {
    padding-top: 20px;
}

.THIS .modal-closer:hover {
    cursor: pointer;
}


.THIS .slds-button {
    background-color: t(colorBackgroundButtonBrand);
    color: t(colorTextButtonBrand)
}

.THIS .slds-button:hover {
    color: t(colorTextButtonBrandHover)
}

.THIS .UploadFileSection:hover {
    cursor: pointer;
}