.THIS {
    outline: none;
}

.THIS .modal-header:hover {
    cursor: pointer;
}

.THIS #postJobButton {
    background-color: t(colorBackgroundButtonBrand);
    color: t(colorTextButtonBrand)
}

.THIS #postJobButton:hover {
    color: t(colorTextButtonBrandHover)
}

.THIS #submitJobRecBtn {
    background-color: t(colorBackgroundButtonBrand);
    color: t(colorTextButtonBrand)
}

.THIS #submitJobRecBtn:hover {
    color: t(colorTextButtonBrandHover)
}


.THIS a {
    text-decoration: none;
}

.THIS .astext {
    margin-left: 3px !important;
    margin-right: 3px !important;
    cursor: pointer;
    color: #9D333E;
}

.THIS .astext:focus {
    outline:0;
}

.THIS shortDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: normal;        /* fallback */
    max-height: 28 !important;       /* fallback */
}