.THIS .myAppProgressStep{
    float: left;
    color: #488336;
    margin-right: -4px;
}
.THIS .myAppProgressStep *{
    float: left;
}
.THIS .myAppProgressStep *:hover{

}
.THIS .myAppStepLabel{
    height: 32px;
    font-size: 1rem;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:8px;
    padding-right:8px;
    background-color: currentColor;
}
.THIS .myAppStepLabel p {
    color:white;
}
.THIS .myAppStepIndent{
    width: 0;
    height: 0;
    border-top: 16px solid currentColor;
    border-left: 8px solid transparent;
    border-bottom: 16px solid currentColor;
}
.THIS .myAppStepArrow{
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 8px solid currentColor;
    border-bottom: 16px solid transparent;
}

.THIS .myAppStepCurrent {
    color: #006dae;
}
.THIS .myAppStepComplete:hover {
    cursor: pointer;
    color: #1e7eb8;
    text-decoration: underline;
}

.THIS .myAppStepTodo {
    color: #aab7c4;
}
.THIS .myAppStepTodo p{
    color:#484848;
}