.THIS input {
    box-sizing: inherit !important;
}

.THIS .secondaryCancelButton {
    font-family: "Roboto" !important;
    font-size: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #696969 !important;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #696969;
    opacity: 1;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.THIS .secondaryCancelIcon svg{
    fill:#696969 !important;
}

.THIS .secondaryCancelButton:hover {
    font-family: "Roboto" !important;
    font-size: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #006DAE !important;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #006DAE;
    opacity: 1;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.THIS .secondaryCancelButton:hover svg {
    fill:#006DAE !important;
}

.THIS .secondaryCancelIcon:hover svg {
    fill:#006DAE !important;
}