/*.THIS .padding{
    margin-top: 2em;
    margin-bottom: 1em;
}

.THIS .uploadArea {
    width:300px;
    height:200px;
}

.THIS .modal-brand {
    background-color: #2574a9;
}

.THIS.slds-spinner_container{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS.slds-input{
    padding-bottom:4px !important;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .header-collapsible {
	background-color: #006dae !important;
	color: #fff;
}

.THIS .whiteColorText {
	color: #fff;
}*/