.THIS .no-border-radius {
    border-radius: 0rem !IMPORTANT;
}

.THIS .ucin-button {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

.THIS .tbx {
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
}

.THIS .tbxlong {
    height: 200px;
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
}