/* scrol bar 1*/
.THIS .div-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.THIS .div-scroll::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
.THIS .addPadding{
    padding-left: 2px;
    padding-right: 2px;
}
.THIS .whiteBackground {
    background-color: #fff;
}
.THIS .backgroundgrey {
    background-color: #f6f6f6;
}
.THIS .div-scroll::-webkit-scrollbar-thumb {
    background: #dad8d8;
    border: 0 none #fff;
    border-radius: 0;
}

.THIS .div-scroll::-webkit-scrollbar-thumb:hover {
    background: #dad8d8;
}

.THIS .div-scroll::-webkit-scrollbar-thumb:active {
    background: #ccc;
}

.THIS .div-scroll::-webkit-scrollbar-track {
    background: #e4e4e4;
    border: 0 none #fff;
    border-radius: 0
}

.THIS .div-scroll::-webkit-scrollbar-track:hover {
    background: #f4f6f9;
}

.THIS .div-scroll::-webkit-scrollbar-track:active {
    background: #ccc;
}

.THIS .div-scroll::-webkit-scrollbar-corner {
    background: 0 0;
}
/* scroll bar 2 */
.THIS .div-scroll-attachment::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

.THIS .div-scroll-attachment::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb {
    background: #dad8d8;
    border: 0 none #fff;
    border-radius: 0;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb:hover {
    background: #dad8d8;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb:active {
    background: #ccc;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track {
    background: #e4e4e4;
    border: 0 none #fff;
    border-radius: 0
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track:hover {
    background: #f4f6f9;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track:active {
    background: #ccc;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-corner {
    background: 0 0;
}
/* scroll bar end */


.THIS .uiInput--d   efault .form-element__label {
    font-family: Roboto;
    color: #065484;
    font-size: 1rem;
}

.THIS .message {
    font-family: Roboto;
    color: #065484;
    font-size: 1rem;
}

/*.THIS .uiInputRadio .radio-style {
    position:relative;
    top:32px;
    left:8px;
    
}*/

.THIS .radio-header {
    font-family:Roboto;
    font-size:1.2rem;
    color: #004185;
}

.THIS .radio-body {
    font-family:Roboto;
    font-size:1rem;
    color: #004185;
}

.THIS .radio-border {
    border: 1px solid #ccc;
    background: #f6f6f6;
    border-radius:2px;
}

.THIS .slds-input {
    border:1px solid #ccc !important; 
}
/*.THIS input[type="radio"] {
    position: relative;
    top: 32px;
    left: 6px;
    width:20px;
    height:20px;
}*/

.THIS ul.search-list li {
    list-style-type:none;
}
.THIS ul {
    padding:0;
}
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}

.THIS .selected {
    background-color: #092945;
}

.THIS .selected h4 {
    color: #fff !important;
}

.THIS .selected p {
    color: #fff !important;
}

.THIS h1.headlineTitle{
    font-family: Century Schoolbook Georgia Times New Roman !important;
    font-size: 1.5rem !important;
    color: #006dae !important;
    font-weight: 400 !important
}

.THIS input[type="file"] {
    display: none;
}
.THIS a.filelabel:focus{
    box-shadow: 0 0 8px #719ECE;
}

.THIS .spinner-text {
    font-family: Roboto;
    font-size:1.5rem;   
}
.THIS .graybg {
    background-color:#f6f6f6;
}
.THIS .blue-custom-font {
    font-family: Roboto;
    font-size:1.125rem;   
    color:#006dae;
}

.THIS .select-border {
    border: dashed 0.5px #c1c1c1;
    background-color: #fff;
}
.THIS .uploadIcon {
    padding-top: 5px;
    padding-bottom: 5px;
/*    max-width: 60px;*/
    height: 50px;
}
.THIS .drop-file-text {
    color: #c1c1c1;
    font-family: Roboto;
    font-size: .9rem;
}

.THIS .div-scroll-attachment {
    max-height: 90px;    
}
.THIS .content-card-main {
    background-color: #f6f6f6;
}

.THIS .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: solid 0.5px #cccccc;
    position: relative;
    left: 0;
    top: 10px;
}
.THIS .rectangle-1 {
    font-family:Roboto;
    font-size:1em;
    color:#004185;
    background-color: #f6f6f6;
    border: solid 0.5px #cccccc;
    padding:10px;
}

.THIS .left-spacing {
    padding-left: 40px;
}
@media only screen and (min-width: 64em) { 
    .THIS .radio-border:hover {
        /*background-color:#add8e6;*/
        
    } 
}
@media only screen and (min-width: 20em) and (max-width: 22.4em) {
    .THIS input[type=radio] {
        position: relative;
        left: 4px;
        width: 20px
    }
    .THIS .radio-header {
        font-size: .8em;
        position: relative;
/*        top: -12px;
        right: -27px;*/
    }
    
}
@media only screen and (min-width: 22.5em) and (max-width: 48em) {
    .THIS input[type=radio] {
        position: relative;
        left: 3px;
        width: 18px
    }
    .THIS .radio-header {
        font-size: .9em;
        position: relative;
/*        top: -12px;
        right: -26px;*/
    }
    
}

/** nick start **/

.THIS .hover-state:hover:not(.selected) {
    text-decoration:underline;    
}

.THIS .hover-state:focus:not(.selected) {
    text-decoration:underline;
}

.THIS .radio-border.selected .hover-state:hover {
    text-decoration:underline;
    text-decoration-color: #fff;
}

.THIS .radio-border.selected .hover-state:focus {
    text-decoration:underline;
    text-decoration-color: #fff;
}

.THIS .btn-hover-state:hover:enabled {
    text-decoration:underline;
    text-decoration-color: #fff;
}

.THIS .detailpage-icon {
    max-width: 25px;
    height: 25px;
}

/*FONT STYLES*/

.THIS .label-style-blue {
    font-family: Roboto;
    color: #006dae !important;
    font-size: 1rem !important;
}

/*FONT STYLES END*/

.THIS .select-file-btn {
    background: #006dae;
    color: #fff;
    padding: 10px 25px;
    border: solid 0.5px #c1c1c1;
    font-family: Roboto;
    font-size:1rem;  
}

.THIS .submit-btn {
    border: solid 0.5px #979797;
    background: #092945;
    color: #fff !important;
    font-family: Roboto;
    font-size:1rem;
    padding: 7px 25px; 
}

.THIS .submit-btn:disabled {
    border: solid 0.5px #979797;
    background: #d4d4d4;
    color: #a8a8a8 !important;
    font-family: Roboto;
    font-size:1rem;
    padding: 7px 25px; 
}

/*nick start*/
.THIS .question-container {
    width: 32% !important;
}

/*MEDIA QUERIES*/

/* Custom, iPhone Retina up to Medium sized screens*/ 
@media only screen and (min-width: 320px) and (max-width : 767px) {
    .THIS .content-responsive {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .THIS .content-responsive div {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .THIS .radio-body {
        font-size: .74rem !important;
    }

    .THIS .question-container {
        width: 100% !important;
        padding-bottom: 5px !important;
    }

    /*add padding on box content*/
    .THIS .radio-content-responsive {
        padding-left: 6px !important;
    }

    /*to fix col-bump left being overridden on mobile view*/
    .THIS .button-container-responsive {
        float: right;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .THIS .question-container {
        width: 100% !important;
        padding-bottom: 5px !important;
    }

    .THIS .content-responsive {
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    .THIS .input-responsive {
        width: 100% !important;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .THIS .radio-border {
        max-height: 200px;
        min-height: 200px;
    }

    .THIS .input-responsive {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .THIS .radio-border {
        min-height: 153px;
    }
}