.inlineScroll {
    max-height: 200px;
}

.slds-checkbox_faux {

}

.slds-form-element__label {
    font-size: medium;
    color:rgb(51, 51, 51);
}

.ease{
    transition: opacity 1s ease;
}

.areaOfStudy {
    font-size: small;
    line-height: normal;
}

.slds-input {
    border-radius: 0;
}

.acpButton {
    height: 30px;
    background: #006DAE;
    border: 1px solid #006DAE;
    padding-right: 10px;
    padding-left: 10px;
}

.acpButtonRemove {
    height: 30px;
    background: #ae0000;
    border: 1px solid #ae0000;
    padding-right: 10px;
    padding-left: 10px;
}

.fieldTitle {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.table
{
    position:initial !important;
}

.fieldContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    display: flex;
}

.fieldContainer .slds-select {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.fieldContainer .slds-input {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.fieldTitle {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

ul:not(.browser-default) li {
    list-style-type: disc;
}

.THIS .requiredField{
    font-family: "Roboto Condensed";
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
}

.heading3 {
text-align: left;
    font-family: "Roboto Condensed";
    font-size: 24px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
}

.courseLabel{
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
}

.appCourseBanner{
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    color: #505050;
    opacity: 1;
    background-color: #FE933F;
    background-image: var(--slds-c-alert-image-background, var(--sds-c-alert-image-background, linear-gradient(45deg, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 25%, transparent 25%, transparent 50%, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 50%, var(--slds-g-color-neutral-10-opacity-10, rgba(0, 0, 0, 0.025)) 75%, transparent 75%, transparent)));
    padding-left: var(--slds-c-alert-spacing-inline-start, var(--sds-c-alert-spacing-inline-start, var(--lwc-spacingXSmall, 0.5rem)));

}