.THIS .cellACP {
    padding-top:4px;
    padding-bottom: 4px;
}

.THIS .cellContentsACP {

}
.THIS .slds-popover__body
{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.THIS .notificationPosition {
    position: absolute; 
    top: -.65rem; 
    right: -.25rem; 
    border-radius: .75rem; 
    background-color: rgb(194, 57, 52);
}

.THIS .notificationIcon {
    line-height: 2; 
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 .25rem;
    color: rgb(255, 255, 255);
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-weight: 700;
    font-size: .75rem;
    vertical-align: middle;
    display: table-cell;
}