.resetPasswordFrame {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.resetPasswordForm {
    background-color: white;
    display: flex;
    color: #505050;
}

.front {
    z-index: 1;
}

.recaptchaChallengeHidden {
    height: 60px;
}
.recaptchaChallengeVisible {
    height: 500px;
}