.title {
/*    padding-left: var(--lwc-spacingSmall);*/
    font-weight: 300;
    font-size: 1.25rem;
    color: rgb(24,24,24);
    overflow: hidden;
    vertical-align: top;
}
.slds-col {
/*    min-width: 80px;*/
}