.THIS {

}

.THIS .labelColor {
    color: #505050;
}

.THIS .fieldLabel {
    font-size: 16px; 
    color: #505050;
}

.THIS .submitBtn {
    background-color: #006dae;
}

.THIS abbr {
    display: none;
}

.THIS .slds-radio_button__label {
    padding: 0;
}

.THIS .slds-radio {
    margin-left: 20px;
}