/**
 * Created by trentdelaney on 2/11/18.
 */
.THIS .spinner-container{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}

.THIS .form-container {
    display: block;
    background: #F4F6F9;    
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: none;
}

.THIS .card-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.THIS .is-required label.slds-form-element__label {
    display: none;
}

.THIS .slds-form-element .slds-form-element__label {
    display: none;
}

.THIS h1 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 56px;
    line-height: 62px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 22px;
    margin-bottom: 10px;
}

.THIS h2 {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 38px;
    line-height: 44px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .fieldContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    display: flex;
}

.THIS .fieldContainernoborder {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: flex;
    background-color:#cde2ef;
}

.THIS .addFldContainer {
    margin-top: 10px;
    padding-bottom: 5px;
    display: flex;
}

.THIS .fieldContainer .slds-select {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.THIS .fieldContainer .slds-select:hover {
    border: 0px solid #A1CAEE;
    border-radius: 0;
    box-shadow: 0 0 2px 0 #1589EE;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.THIS .fieldContainer .slds-input {
    border: 0px solid #d4d4d4;
    border-radius: 0;
}

.THIS .fieldContainer .slds-input:hover {
    border: 1px solid #A1CAEE;
    border-radius: 0;
    box-shadow: 0 0 1px 0 #1589EE;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.THIS .fieldTitle {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .generalText {
    text-align: left;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.THIS .generalHelpText {
    text-align: left;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.THIS .requiredField{
    font-family: "Roboto Condensed";
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #016CAC;
    opacity: 1;
}

.THIS .sectionContainer {
    border: 2px solid #d4d4d4;
    padding: 0 15px 25px 0;
    opacity: 1;
    display: flex;
    margin-bottom: 20px;
}

.THIS .sectionContainer .sectionContainerTopBorder {
    border-top: 5px solid #016CAC;
    margin-top: -2px;
    margin-left: -2px;
    margin-bottom: 25px;
}

.THIS .sectionContainer .sectionContainerBody {
    padding-left: 15px;
}

.THIS p {
    text-align: left;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-bottom: 15px;
}

.THIS .primaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #006DAE;
    border: 1px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-weight: bolder;
    padding: 6px 10px 6px 10px;
}

.THIS .secondaryButton {
    font-family: "Roboto";
    font-size: 18px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 2px solid #006DAE;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #006DAE;
    opacity: 1;
    font-weight: bolder;
    padding: 5px 10px 5px 10px;
}

.THIS lightning-icon.primaryIcon > lightning-primitive-icon > svg > use {
    fill: #FFFFFF; 
}

.THIS lightning-icon.secondaryIcon > lightning-primitive-icon > svg > use {
    fill: #006DAE;
}

.THIS label.slds-form-element__label {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .slds-checkbox_toggle .slds-form-element__label {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}

.THIS .slds-form-element .slds-form-element__legend {
    text-align: left;
    font-family: "Roboto Condensed";
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
}