/**
 * Created by angelorivera on 10/3/21.
 */

.THIS .center-text{
    justify-content: center;
}

.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 100px;
    z-index: 2;
}