.THIS .subject-header {
    color:#006dae;
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight:normal;
    word-wrap: break-word;   
	
}
.THIS .border-class {
    border-top: solid 0.5px #979797;
    margin: 0 15px;   
    padding: 15px;
}
/*.THIS .custom-font {
    font-family: Roboto;
    font-size: 1rem;
    font-weight:normal;
    word-wrap: break-word;    
	
}*/
.THIS .ques-desc {
    color:#505050;
    word-wrap: break-word;
    word-break: break-all;
}
.THIS .white-Button {
    background-color: #fff;    
}
.THIS .blue-Button {
    background-color: #006dae;    
}
.THIS .comm-history-bg {
    background-color: #fff;
    border: solid 0.5px #006dae;
    word-wrap: break-word;
}
.THIS .blue-custom-font {
    font-family: Georgia;
    font-size: 1.5rem;
    font-weight:normal;
}
.THIS .white-Button .slds-icon-text-default {
    fill: #006dae;
}
.THIS .blue-Button .slds-icon-text-default {
    fill: #fff;
}
.THIS .white-tile {
    background: #fff;
}

/*.THIS .uploadIcon {
    width: 50px;
    height: 50px;
    padding: 5px 0;
}*/

.THIS .uploadIcon {
    padding-top: 5px;
    padding-bottom: 5px;
/*    max-width: 60px;*/
    height: 50px;
}
.THIS .header-text {
    color: #006dae;
}
.THIS .blue-text {
    color:#005dae;
}
.THIS .white-text {
    color:#fff;
}
.THIS .black-text {
    color:#fff;
}
.THIS .blue-background {
    background: #006dae;
}
.THIS .white-background {
    background: #fff;
}
.THIS .from-to-message {
    border-bottom: .5px solid #006dae;
    padding: 30px 0;
    background: #fff;
}
.THIS .custom-border {
    border:.5px solid #006dae;
}

.THIS .attachments-text {
    color: #006dae;
    padding: 5px 0;
}
.THIS .date {
    color: black;
}
.THIS .select-file-btn {
    background: #006dae;
    font-family: LucidaGrande;
    color: #fff;
    padding: 10px 25px;
    border: solid 0.5px #c1c1c1;
}
/*.THIS .select-btn-black {
    background-color: #505050;
    border: solid 0.5px #979797;
    color: #fff;
    padding: 10px 25px;
}*/

.THIS input::placeholder {
    color:#b4b4b4;
}

.THIS p.bold-text-header{
    font-weight: bold;
    color: #3f3f3f;
}
.THIS .chevron-icon {
    right: 10px;
}
.THIS .slds-icon-action-approval {
    background-color:#006dae !important;
    padding: 0 !important;
}
.THIS .slds-border_right {
    border-right: solid 0.5px #dddddd !important;
}
.THIS .drop-file-text {
    color: #c1c1c1;
    font-family: Roboto;
    font-size: .9rem;
}

.THIS .mail-to {
    color: #006dae;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
}

/*media queries */
@media only screen and (min-width: 20.0625em) and (max-width:47.937em) {
    .THIS .btn-submit {
        padding: 7.3px 0;
        margin-left: 4px;
        height: 100%;
        width: 100%;
    }
    .THIS .select-file-btn {
        padding: 5px;
    }
}
.THIS .container {
    max-width: inherit !important;
}
/*overridding chevron icon btns */
.THIS .slds-icon--small {
    height: 1.4rem !important;
}
.THIS .slds-icon-text-default {
    /*fill: #fff; */
}

/*start message*/
.THIS div.parent {
    background:#006dae;
    cursor:pointer;
}
.THIS .line {
  background:#fff;
  height:1px;
  margin-bottom:15px;
}
.THIS div.text {
  background:#006dae;
  color:#fff;
  font-family: Roboto;
  font-weight: normal;
  font-size:16px;
  height:60px;
  left:42%;
  line-height:60px;
  padding: 0 15px;
  top:2px;
  z-index:999;
}
/*end messages */

/*reply button */
.THIS .threedot-btn {
    top:35px;
    left:15px;
    width: 1.5rem;
    border-radius: .125rem;
    border: 1px solid #f4f4f4;
    cursor: pointer;
}
.THIS textarea {
    border:none !important;
    border-top: solid .5px #006dae !important;
    border-radius: 0 !important;  
    border-bottom: solid 0.5px rgba(151, 151, 151, 0.32) !important;
}

.THIS .textContainer{
    width: 430px;
    float: left;
    margin-top: 10px;
    border: 1px solid black;                
}

.THIS .text {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #047F04;
    display: block;
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis;
    height: 99px;
}

.THIS .image {
    float: right;
    position: absolute;
    top: 85px;
    right: 10px;
    width: 108px;
    height: 42px;
}
.THIS .input-Rich {
    border: none;
}
.THIS .attachmentFixHeight{
    max-height: 130px;
}

/** nick start **/
.THIS button:hover {
    text-decoration:underline;    
}

.THIS button:focus {
    text-decoration:underline !important;
}

.THIS .detailpage-icon {
    max-width: 25px;
    height: 25px;
}

.THIS .header-style {
    font-family: Century Schoolbook Georgia Times New Roman !important;
    font-size: 1.5rem !important;
    color: #006dae !important;
    font-weight: 400 !important
}

.THIS .button-style {
    background: #006dae;
    color: #fff;
    padding: 10px 25px;
    border: solid 0.5px #c1c1c1;
    font-family: Roboto;
    font-size: 1rem;  
}

.THIS .graybg {
    background-color:#f6f6f6;
}

.THIS .select-border {
    border: dashed 1.5px #c1c1c1;
    background-color: #fff;
}

.THIS .long-content-style {
    white-space: pre-wrap;
    word-break: normal;
}

.THIS .next-line-p p {
    margin-bottom: 1em;
}

.THIS .monash-blue-font {
    color: #006dae;
}

/* scroll bar 2 */
.THIS .div-scroll-attachment::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

.THIS .div-scroll-attachment::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb {
    background: #dad8d8;
    border: 0 none #fff;
    border-radius: 0;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb:hover {
    background: #dad8d8;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-thumb:active {
    background: #ccc;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track {
    background: #e4e4e4;
    border: 0 none #fff;
    border-radius: 0
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track:hover {
    background: #f4f6f9;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-track:active {
    background: #ccc;
}

.THIS .div-scroll-attachment::-webkit-scrollbar-corner {
    background: 0 0;
}

.THIS .comm-history-text {
    color:#fff;
    font-family: Roboto;
    font-weight: normal;
    font-size:16px;
    height: 100px;
}

/*MEDIA QUERIES START*/

/* Custom, iPhone Retina up to Medium sized screens*/ 
@media only screen and (min-width: 320px) and (max-width : 767px) {
    /*shift gray boxes up to the edges on mobile*/
    .THIS .bg-gray-edgetoedge-responsive {
        position: relative !important;
        width: 100vw !important;
        left: calc(-50vw + 50%) !important;
        background-color : #f6f6f6;
        padding-left: 0px;
        padding-right: 0px;
    }

    .THIS .header-text {
        padding-left: 1.4rem;
    }

    .THIS .btn-responsive {
        padding-right: 1.5rem !important;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .THIS .resolve-btn-responsive {
        justify-content: center;
        display: flex;
    }
}