.errors {
    padding: 4px 16px 4px 16px;
    text-align: center;
}
.slds-page-header {
    border-bottom: 1px solid rgb(201,201,201);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.tile-list li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.scrollable {
    overflow: auto;
    max-height: 340px;
}

.multi-line-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    -webkit-box-orient: vertical;
}