.rejectHeader {
    background-color: #DC0028;
    border-radius: 0;
}

.confirmHeaderText {
    color: #e5e5e5;
}

.cancelButton {
    padding: 5px 20px 5px 20px; 
    color: #537FAF;
    background-color: white;
    border: 1px solid #537FAF;
    font-size: 14px;
}

.cancelButton:hover {
    background-color: #e5e5e5;
}

.rejectButton {
    padding: 5px 20px 5px 20px; 
    background-color: #C23934;
    margin-left: 10px; 
}

.rejectButton:hover {
    background-color: #ae332e;
}

.btn:focus,
.btn--blue:focus {
  outline: 3px solid #0057b8; /* or another accessible color */
  outline-offset: 2px;
}

.btn:hover,
.btn--blue:hover {
  background-color: #004a99; /* darker hover color */
}