.main{
    background-color:#f87908;
    color:rgb(255, 255, 255);
    height:auto;
    text-align:center;
    font-family:Roboto Condensed,sans-serif;
    font-size:1.25rem;
}

.message{
    font-weight: 400;
    color: white;
    font-size: 1.25rem; 
    line-height: 1.1;
}

.link{
   font-weight: 400;
   font-family: Roboto, sans-serif;
   color: white;
   font-size: 1.25rem;
   line-height: 1.1;
}