/**
 * Created by trentdelaney on 2019-02-20.
 */
.logoPaddingMastercard {
    padding-top : 1.2em;
}

.logoPaddingVisa {
    padding-bottom: 0.6em;
}

.imgGrey {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}