.digitary-confirm-checkbox {
    font-family: "Roboto";
    --lwc-fontSize3: 16px;
    --lwc-colorTextLabel: black;
}

.digitary-provider-dropdown-label {
    font-size: 18px;
    font-weight: bold;
    color: #505050;
}