.THIS #content-nopad .contentRegion{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.THIS #content-nopad .comm-content-header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.THIS #content-nopad .comm-content-footer{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.THIS #content-nopad .comm-footer-header{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.THIS .slds-box {
    border-color: #505050 !important;
}

.THIS .inboxTitle {
    font-size: 1.875rem !important;
    white-space: nowrap !important;
}

.THIS .forceChatterMessages {
    max-width: 1300px;
    margin: auto;
    padding: 0rem;
    background: #fff;
}

@media (min-width: 680px) {
    .THIS .container {
        max-width: 100% !important;
    }
}

@media (min-width: 768px) {
    .THIS .forceChatterMessages {
        padding: 1.5rem;
    }
}

@media (max-width: 767px) {
    .THIS .left-box {
        border: none !important;
    }
    .THIS .right-box {
        border-left: none !important;
        border-right: none !important;
    }
}