.slds-gutters{
    margin-left: 8px;
    width: 98%;
}
.slds-gutters .slds-col{
    max-width: 33%;
    margin: 6px;
    min-width: 30%;
    border-radius: 3px;
    padding: 20px;
}

div.slds-accordion__summary{
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.slds-accordion__list-item{
    border-top:none;
}

.column-border{
    border: 1px solid rgba(0, 0, 0, 0.16);
}

.slds-col.slds-has-error{
    border: 1px solid #FF0000;
}

.slds-has-error .slds-radio [type=radio]+.slds-radio__label .slds-radio_faux{
    border-width: thin;
}