h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
legend {
    font-size: 1.25rem;
    font-weight: bold;
}
.section {
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-info {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-close {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    margin-left: 0.25rem;
    transform: translateY(-50%);
    line-height: 1;
}
.alert-container {
    padding-top: 6px;
}
.slds-input{
    border-color:#737373 !important;
}