.THIS input {
    padding-left: 15px;
    width: 100%;
    line-height: 2; 
    border: 2px solid #d3d3d3; 
    border-radius: 0.5rem;
    font-size: 15px;
}

.THIS input:hover {
    border-color: #ef8195;
}

.THIS input:focus {
    border-color: #ef8195;
    outline: none;
}

.THIS input:blur {
    border-color: #d3d3d3;
}