.THIS.slds-card .slds-card__header {
    padding: 10px 15px;
    color: white;
}

.THIS.slds-backdrop .slds-backdrop_open {
    position: relative;
    background-color: #16325c;
    height: 100px;
    z-index: 2;
}


.THIS .break-all {
    word-break: break-all;
}


.THIS .center-text{
    justify-content: center;
}

.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 100px;
    z-index: 2;
}