.add-btn-td {
    width: 10%;
}

.text-td{
    position:relative;
}
.popover-container{
    display:none;
    position:absolute; 
    z-index:9999;
    top: -50px;
    right: 350px;
    transition-property: display;
    transition-duration: 2s;
    transition-delay: 2s;
}
.description-popover{
    right: 705px;
}

.text-td:hover span.popover-container{
    display:block;
}
.slds-table th,.slds-table td, 
.slds-form-element{
    /*position: inherit;*/
    position: relative;
}

.main-container{
    margin-bottom: 30px;
}