.THIS .tabHeader {
    font-size: 20px !important;
}

.THIS .linked {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.025) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0.025) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
    font-weight: 700;
}

.THIS .unlinked {
    background-color: #f4f6f9;
}

.THIS .slds-card__body {
    border-top: solid 1px #DDDBDA;
    border-bottom: solid 1px #DDDBDA;
    background-color: #fff;
}

.THIS .slds-tabs_default__item {
    font-size: 1rem;
}

.THIS .clickable:hover {
    cursor: pointer;
    background-color: #CCECF9;
}