.defaultHeader {
    border-radius: 0;
}

.rejectHeader {
    background-color: #DC0028;
    border-radius: 0;
}

.acceptHeader {
    background-color: #0E6EAC;
    border-radius: 0;
}

.defaultHeaderText {
    color: #505060;
}

.confirmHeaderText {
    color: #e5e5e5;
}

.cancelButton {
    padding: 5px 20px 5px 20px; 
    color: #537FAF;
    background-color: white;
    border: 1px solid #537FAF;
    font-size: 14px;
}

.cancelButton:hover {
    background-color: #e5e5e5;
}

.rejectButton {
    padding: 5px 20px 5px 20px; 
    background-color: #C23934;
    margin-left: 10px; 
}

.rejectButton:hover {
    background-color: #ae332e;
}

.acceptButton {
    padding: 5px 20px 5px 20px;
    margin-left: 10px; 
}

.detailContainer {
    display: flex;
    border-top: 1px solid #D4D4D4;
    margin-top: 3px;
    padding-top: 3px;
}

.hideScroll {
    overflow: hidden;
}